<nav id="styleguideSidebar" class="sidebar sidebar--hidden">
    <div class="sidebar__header">
        <div class="sidebar__header-title">Menu</div>
    </div>
    <ul id="rootSidebar" data-kss-ref="styleguide.homepage" >
        <li class="sidebar__item" id="section-gettingStarted">
            <a href="security_policies"  ><span class="icon-admin icon-medium" style="margin-right:20px;margin-top:15px"></span>
                <span style="font-size:18px;float-left:10px">Security Policies</span></a>
        </li>
        <li class="sidebar__item">
            <a href="security_policies"  ><span class="icon-admin icon-medium" style="margin-right:20px;margin-top:15px"></span>
                <span style="font-size:18px;float-left:10px">Inventory Management</span></a>
        </li>

    </ul>
</nav>